.transaction_history {
  height: min-content;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
.transaction_tablehead {
  background-color: rgb(68, 182, 174);
  height: 50px;

}
